<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<div id="app">
    <div>
        <ul>
            <li v-for='(item, index) in menus' :key="item.id">
                <h3>{{ index }} - id: {{item.id}} 菜名: {{item.name}}</h3>
            </li>
        </ul>
        <ol>
            <li v-for="val in obj">
                {{val}}
            </li>
        </ol>
    </div>
</div>
<script src="jquery-3.3.1.min.js"></script>
<script src="vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            menus: [{
                id: 1,
                name: '大腰子'
            },
                {
                    id: 2,
                    name: "烤鸡翅"
                },
                {
                    id: 3,
                    name: "烤山羊"
                },
                {
                    id: 4,
                    name: "烤韭菜"
                },
            ],
            obj: {
                title: 'hello 循环',
                author: "小马哥"
            }
        }
    })
</script>
</body>

</html>